<!DOCTYPE html>
<html>
<head>
  <title>Randomizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background=<%= asset_path('KingdomGeek_L3.png') %>>

<%= yield %>

</body>
</html>
